  .portfolio {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  
  .banner {
    position: relative;
    height: 520px;
    overflow: hidden;
    border-radius: 10px;
    margin : 15px;
    margin-bottom: 60PX;
  }
  
  
  
  
  .profile {
    background-color: #fff;
    margin: -50px auto 20px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
  }

  .profileDetails {
    min-width: 300px;
    margin-left: 100px;
  }
  
  .profilePic {
    position: absolute;
    border-radius: 50%;
    transform: translate(35%, -35%)
    
  }
  
  .profile h1 {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .social_icon {
    color: rgb(23, 145, 232);
    display: flex;
    height: auto;
    gap: 20px;
    margin-top: 10px;
    
  
  }
  
  .social_icon a:hover {
    color: #ff6347; 
    transform: scale(1.2);

  }

  .description { 
    margin-top: 100px;
    margin-right: 490px; 
    font-size: 0.95rem;
    
  }

  .description {
    flex: 1; /* Allow the description to take up remaining space */
    margin-right: 0; /* Add spacing to the right of the description */
    font-size: 1rem;
    
  }
  
  
  
  .connect {
    margin-top: 25px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 100px; 
    width: 90%;
    max-width: 1200px;
  }
  
  .descriptionAndCalendar {
    display: flex; /* Horizontal alignment for description and calendar */
    justify-content: space-between; /* Space between the two main sections */
    align-items: flex-start; /* Align at the top */
    gap: 20px; /* Add spacing between columns */
    margin: 50px 100px; /* Vertical spacing and center alignment */
    max-width: 2000px; /* Optional: Limit maximum width for consistent layout */
    margin-top: -80px;
  }
  
  
  
  .tags {
    padding-top: 15px; /* Adjust spacing between description and tags */
  }
  
  .tags span {
    display: inline-block;
    background-color: #f0f0f0;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9rem;
  }
  
  .calendar {
    flex: 0 0 300px;  /* Fix the width of the calendar */
    
  
  }
  
  
  @media (max-width: 768px) {
    .descriptionAndCalendar {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center align items for small screens */
      
    }
  
    .calendar {
      width: 100%; /* Full width calendar on small screens */
    }
  
    .tags {
      text-align: center; /* Center tags on smaller screens */
      padding-top: 10px;
    }
  }
  