.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.mainDiv > img {
  width: 100%;
  max-width: 500px;
}

.mainDiv > h2 {
  color: #808080;
  font-weight: 600;
}
