.cover{
    width: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;   
}
.topic{
    display: flex;
    flex-direction: row;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}
.backBtn{
    padding: 5px;
    color: #555;
    margin-right: 5px;
}
.arrow{
    cursor: pointer;
    font-size: 18px;
}
.arrow:hover{
    color: #000000;
}
.word{
    padding: 5px;
    font-size: 16px;
    font-weight: 550;
    color: #555;
}
.mainContainer{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.btnContainer{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.btn1{
    padding: 10px 40px;
    width: 29%;
    border: 2px solid #3f96d8;
    border-radius: 7px;
    background-color: #3f96d8;
    font-weight: 550;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    margin-bottom: 20px;
}
.btn1:hover{
    background-color: #1b70b2;
}
.btn2{
    padding: 10px 40px;
    width: 29%;
    border-radius: 7px;
    border: 2px solid #3f96d8;
    background-color: #ffff;
    font-weight: 550;
    color:#3f96d8;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}
.btn2:hover{
    background-color: #b0b0b0;

}