.gallery {
    width: 950px;
    /* padding: 20px 30px; */
  }
  
  .gallery h2 {
    margin-top: 40px;
    margin-left: 0;
  }
  
  .gallery_grid {
    margin-top: 25px;
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 170px));
    gap: 160px;
    row-gap: 10px;
    

    
  }

  /* .gallery_images{
    
    border-radius: 9%;
  }

  .gallery_images a:hover {
    color: #ff6347; 
  } */

/* .button{
  padding-left: 2000px;;
} */





.button_container {
  margin-top: 15px;
  margin-left: 0;
}

.button {
  margin-right: 10px;
  
  padding: 10px 20px; 
  font-size: 0.9rem; 
  background-color: #f0f0f0; /* Default button background color */
  color: black; 
  border: none; 
  border-radius: 10px; /* Rounded corners */
  transition: all 0.1s ease; /* Smooth transition for all changes */
}

.button:hover {
  background-color: #ff6347; /* Change background color on hover */
  color: white; 
  transform: scale(0.9); /* Increase size on hover */
}


.image {
  width: 295px;
  height: 250px;
  border-radius: 9%;
  transition: filter 0.1s ease; /* Smooth transition for brightness change */
}

.image:hover {
  transform: scale(1);
  filter: brightness(1.2);/*Reduce brightness to 70% on hover */
 
}






.paginationDots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #007bff;
  border-radius: 50%;
  cursor: pointer;
}
