.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
}

.footerContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  max-width: 1600px;
  width: 100%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .footerContent {
    padding-right: 10%;
  }
}

.photographerSignup {
  background-color: #2c2c2c;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
}

.photographerSignupContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.photographerSignupContent > p {
  color: #989898;
  font-weight: 300;
}

.signupBtn {
  background-color: white;
  border-radius: 6px;
  color: black;
  padding: 8px 40px;
  width: fit-content;
  font-size: 14px;
}

.footerLinksWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerLinksWrapper > h4 {
  color: #989898;
  font-weight: 500;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}

.footerSocialLinks {
  font-size: 22px;
  display: flex;
  gap: 15px;
}

.footerBottom {
  border-top: 1px solid #757575;
  padding: 20px 40px;
  font-size: 12px;
  font-weight: 300;
  max-width: 1600px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .photographerSignup {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .footerContent {
    flex-wrap: wrap;
    gap: 40px;
  }

  .footerLinksWrapper:last-of-type {
    width: 100%;
    flex-grow: 1;
  }
}
