.container {
  padding: 1rem 0;
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 1.5rem;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroupFull {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radioGroup {
  display: flex;
  gap: 2rem;
}

.radioOption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 640px) {
  .formGrid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.calendarContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: #ff6347;
  font-weight: 400;
  font-size: 12px;
  /* margin-top: 0.25rem; */
}
