.container {
  /* max-width: 72rem; */
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.tabContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tabButton {
  padding: 14px 28px;
  border-radius: 999px;
  font-weight: 500;
  transition: all 0.3s;
  border: none;
}

.tabButtonPhotographers {
  background-color: #000000;
  color: white;
}

.tabButtonPhotographersInactive {
  background-color: #f3f4f6;
  color: #4b5563;
}

.tabButtonPhotographersInactive:hover {
  background-color: #e5e7eb;
}

.tabButtonCustomers {
  background-color: #1f2937;
  color: white;
}

.tabButtonCustomersInactive {
  background-color: #f3f4f6;
  color: #4b5563;
}

.tabButtonCustomersInactive:hover {
  background-color: #e5e7eb;
}

.stepsGrid {
  display: grid;
  gap: 20px;
  position: relative;
}

@media (min-width: 768px) {
  .stepsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.stepItem {
  text-align: center;
  position: relative;
}

.stepNumberContainer {
  margin-bottom: 20px;
}

.stepNumber {
  width: 42px;
  height: 42px;
  border-radius: 9999px;
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 0 auto;
}

.stepLine {
  display: none;
  position: absolute;
  top: 21px;
  left: 60%;
  width: 80%;
  height: 2px;
  background-color: #e5e7eb;
}

@media (min-width: 768px) {
  .stepLine {
    display: block;
  }
}

.stepTitle {
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.75rem;
}

.stepDescription {
  color: #4b5563;
  line-height: 1.625;
}
