.filters {
  width: 100%;
  height: 100vh;
  max-width: 350px; 
  padding: 25px;
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}
.filters h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 15px 30px 30px 0px;
  color: #555;;
  text-align:left;
}  
.filters h4 {
  font-size: 15px;
  font-weight: 550;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #555;
}
.filterGroup {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filterButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.filterButtons button { 
  color: #494949;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 9px 16px;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}  
.filterButtons button:hover {
  background-color: #585d63;
  color: #fff;
  border-color: #000000;
  transform: translateY(-2px);
}
.activeButton {
  background-color: #1c1c1c !important;
  color: #fff !important;
  border-color: #000 !important;
  transform: translateY(-2px);
}

.priceRange {
  display: flex;
  align-items: center;
  gap: 10px;
}
.priceRange input {
  width: 100px;
  padding: 9px 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 14px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.priceRange input:focus {
  outline: none;
  border-color: #555;;
  box-shadow: 0 0 5px rgba(65, 67, 70, 0.5);
}
.rangeSeparator {
  font-size: 16px;
  color: #555;
  font-weight: 550;  
}
.filters input[type="date"] {
  color: #555;
  width: 60%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.filters input[type="date"]:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 5px rgba(74, 74, 75, 0.5);
}
.filterButtonsLong {
  flex-direction: column;
  align-items: left;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.filterButtonsLong button { 
  width: 80%;
  color: #494949;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}  
.filterButtonsLong button:hover {
  background-color: #585d63;
  color: #fff;
  border-color: #000000;
  transform: translateY(-2px);
}
.buttonGroup{
  display: flex;
}
.applyBtn{
  display: block;
  margin: 30px auto;
  width: 40%;
  color: #ffffff;
  background-color: #494949;
  border: 1px solid #ddd;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.applyBtn:hover{
  background-color: #1c1c1c;
}
.clearBtn {
  display: block;
  margin: 30px auto;
  width: 40%;
  color: #ffffff;
  background-color: #494949;
  border: 1px solid #ddd;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.clearBtn:hover{
  background-color: #1c1c1c;
}
/* Media queries for tablet devices */
@media (max-width: 1150px) {
  .filters {
    max-width: 330px;
    padding: 20px;
  }
  .filters h3 {
    font-size: 20px;
    margin: 12px 25px 25px 0px;
  }
  .filters h4 {
    font-size: 14px;
  }
  .filterButtons button {
    padding: 8px 14px;
    font-size: 13px;
  }
  .priceRange input {
    width: 90px;
    padding: 8px 11px;
    font-size: 13px;
  }
  .filterButtonsLong button {
    width: 90%;
    padding: 9px 11px;
    font-size: 11px;
  }
}
@media (max-width: 880px) {
  .filters {
    max-width: 250px;
    padding: 15px;
  }
  .filters h3 {
    font-size: 18px;
    margin: 10px 20px 20px 0px;
  }
  .filters h4 {
    font-size: 13px;
  }
  .filterButtons button {
    padding: 7px 12px;
    font-size: 12px;
  }
  .priceRange input {
    width: 80px;
    padding: 7px 10px;
    font-size: 12px;
  }
  .filterButtonsLong button {
    width: 100%;
    padding: 8px 10px;
    font-size: 10px;
  }
}